<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>191</real>
	<key>angleVariance</key>
	<real>301</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<integer>10</integer>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0.9399999976158142</real>
	<key>finishColorBlue</key>
	<real>0.7400000095367432</real>
	<key>finishColorGreen</key>
	<real>0.2800000011920929</real>
	<key>finishColorRed</key>
	<real>0.5899999737739563</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.07999999821186066</real>
	<key>finishColorVarianceBlue</key>
	<real>0.2700000107288361</real>
	<key>finishColorVarianceGreen</key>
	<real>0.05999999865889549</real>
	<key>finishColorVarianceRed</key>
	<real>0.9900000095367432</real>
	<key>finishParticleSize</key>
	<real>202</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>60.34999847412109</real>
	<key>gravityy</key>
	<real>529.760009765625</real>
	<key>maxParticles</key>
	<real>851</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>5</real>
	<key>particleLifespanVariance</key>
	<real>4</real>
	<key>radialAccelVariance</key>
	<real>-532.02001953125</real>
	<key>radialAcceleration</key>
	<real>183.9700012207031</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>1607.650024414062</real>
	<key>rotationEndVariance</key>
	<real>505.1300048828125</real>
	<key>rotationStart</key>
	<real>-206.8800048828125</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>7</real>
	<key>sourcePositionVariancey</key>
	<real>7</real>
	<key>sourcePositionx</key>
	<real>161.4199981689453</real>
	<key>sourcePositiony</key>
	<real>232.9400024414062</real>
	<key>speed</key>
	<real>990</real>
	<key>speedVariance</key>
	<real>440</real>
	<key>startColorAlpha</key>
	<real>0.239999994635582</real>
	<key>startColorBlue</key>
	<real>0.949999988079071</real>
	<key>startColorGreen</key>
	<real>0.2099999934434891</real>
	<key>startColorRed</key>
	<real>0.4099999964237213</real>
	<key>startColorVarianceAlpha</key>
	<real>0.3899999856948853</real>
	<key>startColorVarianceBlue</key>
	<real>0.1899999976158142</real>
	<key>startColorVarianceGreen</key>
	<real>0.8100000023841858</real>
	<key>startColorVarianceRed</key>
	<real>0.4699999988079071</real>
	<key>startParticleSize</key>
	<real>238</real>
	<key>startParticleSizeVariance</key>
	<real>236</real>
	<key>tangentialAccelVariance</key>
	<real>-127.2600021362305</real>
	<key>tangentialAcceleration</key>
	<real>326.8200073242188</real>
	<key>textureFileName</key>
	<string>beauty.png</string>
</dict>
</plist>
